body {
    width: auto;
    height: auto;
    margin: 4 4;
    
    padding: 18px;
    border: 5px solid black;
    background-image: url(images/racom.jpg);
    background-size: cover;
}
.datos {
    margin-left: 150px;
    margin-top: 100px;
}
.title{
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

.p1 {
    line-height: 2px;
    margin-left: 10px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #273f66;
}

.p2 {
    margin-left: 20px;
    line-height: 2px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000;
}
li{
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000;
}
.foto {
    margin-left: 700px;
    margin-top: -800px;
}
.Identifif {
    padding: 2px;
    height:900px;
    width: 1000px;
    border-radius: 20px;
    margin: auto;
    margin-bottom: -5px;
    
}
.Identifi {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    height: 900px;
    width: 1200px;
    
}
h2{
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
}
.foto1 {
    padding: 2px;
    border: 2px solid black;
    width: 200px;
    border-radius: 20px;
}

.redessociales {
    width: 80px;
    border-radius: 8%;
}
.redes {
    margin-left: 550px;
    margin-top: -500px;
    margin-right: 0px;
    width: 400px;  
}
.tabla{
    
    border-collapse: collapse;
}
td{
    border: black 5px solid;
}
.parrafo {
    font-family: serif;
    text-align: justify;
    font-size: 20px;
    color: #0e1d11;}
.texto {
    margin-left: 200px;
    margin-top: -300px;
    margin-right: 375px;
}


/* Parte de abajo (redes y una barra de contacto) */
.form-contact{
    
    background-color: hsla(214, 100%, 59%, 1);
    
    width: 100%;
    height: 200px;
    
    
}
.form-container{
    display: flex;
    justify-content: space-between;
    padding: 60px 50px;
}
.form-container h3{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.social{
    display:flex;
    justify-content: space-around;
}
.rs1 {
    width: 100px;
    height: 100px;
} 
.rs2 {
    width: 68px;
    height: 65px;
    padding: 17px 8px;
} 
.rs3{
    width: 68px;
    height: 65px;
    padding: 17px 8px;
}
/* footer*/
.footer{
    background-color: #202b36;
}
.container-foot{
    display: flex;
    justify-content: space-around ;
}
.container-foot p,
.container-foot p a{
    color:azure;
    text-decoration: none;
}
#msj{
    width: 300px;
    height: 100px;
}
